-- Example 0
3
xiaoxiao
yamagawa
gawayama

3
gawayama
yamagawa
xiaoxiao
-- Example 1
3
bcedba
dbabce
zyuxxo

3
bcedba
dbabce
zyuxxo
-- Example 2
6
hgnibqqaxeiuteuuvksi
jxbuzui
zrotyqeruiydozui
ywuuzkto
lmopbookoagyco
vredfvavvexliu

6
hgnibqqaxeiuteuuvksi
vredfvavvexliu
lmopbookoagyco
jxbuzui
zrotyqeruiydozui
ywuuzkto
-- Example 3
8
crazgo
cwsoygiokiuo
yueoseeu
tuadiojvugeoe
naumxditui
sgukkelyoi
nrohjuasoia
mgabmo

8
mgabmo
crazgo
cwsoygiokiuo
tuadiojvugeoe
nrohjuasoia
sgukkelyoi
naumxditui
yueoseeu
-- Example 4
10
wheewjuguoi
coutcu
hqivaa
sgiibgwi
ypaqpki
bgyikouapae
wqakeu
skolfo
pzesaa
ypivhi

10
sgiibgwi
bgyikouapae
coutcu
wheewjuguoi
hqivaa
wqakeu
skolfo
pzesaa
ypaqpki
ypivhi
