-- Example 0
5
ABCD
145C
A
A910
Z321

5
A
ABCD
Z321
145C
A910
-- Example 1
2
Z19
Z20

2
Z20
Z19
-- Example 2
4
34H2BJS6N
PIM12MD7RCOLWW09
PYF1J14TF
FIPJOTEA5

4
FIPJOTEA5
PYF1J14TF
34H2BJS6N
PIM12MD7RCOLWW09
-- Example 3
5
ABCDE
BCDEF
ABCDA
BAAAA
ACAAA

5
ABCDA
ABCDE
ACAAA
BAAAA
BCDEF
